<body class="page">
<h1 class="l1">What are you thinking?</h1>
<div class="image">
   <%= form_for @idea do |i| %>
 <div class="word"><div class="textfield"> <%= i.text_field :idname %></div>
    <div class="save"> <%= i.submit "Go", class: "btn btn-primary" %> </div>
  </div>
 <% end %>
</body>
